# common
vllm
tqdm
datasets
torch
transformers
python_dateutil
flash_attn

# math_eval
sympy==1.12
antlr4-python3-runtime==4.7.2 # Compatible with latex2sympy2.
word2number
Pebble
timeout-decorator
google-generativeai
